Flask==2.3.3
Flask-CORS==4.0.0
requests==2.31.0
Werkzeug==2.3.7
gunicorn==23.0.0
google-genai
python-dotenv==1.0.0
# Libraries for processing PDF and Word files
PyPDF2==3.0.1
python-docx==0.8.11
pdfplumber==0.9.0
python-magic==0.4.27
pydantic
sift-stack-py
pillow
pytesseract
pydub
SpeechRecognition
Flask-CORS==4.0.0
google-genai
gunicorn==23.0.0
pdfplumber==0.9.0
pillow
pydantic
pydub
PyPDF2==3.0.1
pytesseract
python-docx==0.8.11
python-dotenv==1.0.0
python-magic==0.4.27
sift-stack-py
SpeechRecognition